/* | RESET | */

body{
    margin: 0;
}

/* | BASE | */

body{
    font-family: Arial;
    display: grid;
    grid-template-columns: auto 1fr auto;
    height: 100vh;
    position: relative;
}

body > div{
    padding: 1rem;
    height: 100%;
    box-sizing: border-box;
    overflow: auto;
}

nav, .admin-side-panel{
    background-color: oklch(90% 0 0);
    padding: 1rem;
}

nav > ul{
    padding: 0;
    margin: 0;
    list-style: none;
}

.nav-link{
    --color: oklch(10% 0 0);
    --bg-color: none;

    background-color: var(--bg-color);
    padding: .6rem;
    border-radius: .8rem;
    display: block;
    text-decoration: none;
}

.nav-link:hover, .nav-link--active{
    --color: oklch(10% 0 0);
    --bg-color: oklch(95% 0 0);
}

a{
    --color: oklch(40% 0.15 255);
    color: var(--color);
}

a:hover{
    --color: oklch(55% 0.15 255);
}

a:visited{
    color: var(--color);
}