{% extends 'color_picker/base.html' %}

{% block extra_head %}
    {{ block.super }}
    {% load static %}
    <script src="{% static 'color_picker/color_wheels.js' %}"></script> 
{% endblock extra_head%}

{% block content %}
    <div class="viewer-page__wrapper">
        <h1>Viewer</h1>

        <div>
            <h2>OKLCH wheel</h2>

            <div>
                <canvas id="oklch-wheel-1" width="600" height="600"></canvas>
                <canvas id="oklch-wheel-2" width="600" height="600"></canvas>
            </div>
        </div>

        <div class="viewer-page__colors-select-wrapper">
            <h2>Couleurs</h2>

            <ul>
                <!-- {% for color in colors%}
                    <li><span class="color-square" style="background-color: {{ color.to_css }}"></span>{{ color }}</li>
                {% endfor %} -->

                {% for family in families%}
                    <li>
                        <p>{{ family.family }}</p>
                        <ul>
                            {% for color in family.colors%}
                                <li><span class="color-square" style="background-color: {{ color.to_css }}"></span>{{ color }}</li>
                            {% endfor %}
                        </ul>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>

    <script defer>
        window.addEventListener("load", (event) => {
            const colors_oklch = [
                {% for fam in families%}
                    {% for c in fam.colors %}
                        {% with oklch=c.to_oklch %}
                            {% if c.to_css %}
                                {
                                    l: {{ oklch.0 }},
                                    c: {{ oklch.1 }},
                                    h: {{ oklch.2 }},
                                    css: "{{ c.to_css }}"
                                },
                            {% endif %}
                        {% endwith %}
                    {% endfor %}
                {% endfor %}
            ];

            render_colorwheels(colors_oklch);
        });
    </script>

{% endblock content %}
