/* | RESET | */

h1, h2{
    margin: 0;
}

/* | BLOCK | */

.color-square{
    border: 1px solid black;
    display: inline-block;
    height: 1rem;
    width:  1rem;
}

.viewer-page__wrapper{
    display: grid;
    grid-template-columns: auto 1fr;
    grid-auto-rows: min-content;
    height: 100%;
    overflow: hidden;
}

.viewer-page__wrapper h1{
    grid-column: 1/-1;
}

.viewer-page__colors-select-wrapper{
    overflow-y: auto;
}

.viewer-page__colors-select-wrapper h2{
    margin-bottom: 1rem;
}

.color-family-list{
    padding-left: 0;
    margin: 0;
    list-style: none;
}

.color-family-list > li{
    margin-bottom: 1rem;
}

.color-list{
    padding-left: 1rem;
    margin: 0;
    list-style: none;
}